.wrap {
    position: fixed;
    top: 0; left: 0;

    width: 480px;
    height: 100%;
    border: 0px solid red;
    background: url(../img/59.PNG);
    background-size: 100% 100%; 
}
.wrap .box {
    width: 81%; height: 75%;
    border: 0px solid red;
    border-radius: 20px;

    background: white;
    margin-top: 28%;
    margin-left: 10%;
}
.table1 {
    width: 100%; 
}
td {
    border-bottom: 1px solid #ccc;
    width: 35%; height: 70px;
    text-align: center;
}
.time {
    width: 10%;
}
.gap {
    width: 10%;
}
